
.navbar-center{
	float: left;
	margin-left: 10%;
}
.navbar-center > li > a{
	padding: 17px 0;
	width: 196px;
	text-align: center;
}
.navbar-default .navbar-center >.open>a{
	background-color: #fff!important;
}
.navbar-default .navbar-center .open .dropdown-menu{
	padding: 0;
	border-radius: 0;
	border-top: 0;
}
.navbar-default .navbar-center .open .dropdown-menu > li > a{
	font-size: 20px;
	padding: 17px 0;
	width: 196px;
	text-align: center;
}
.navbar-default .navbar-center .open .dropdown-menu > li > a:hover, 
.navbar-default .navbar-center .open .dropdown-menu > li > a:focus{
	background-color: #fff;
	color: #e8ac6c;
}
.navbar-center .dropdown-menu{
	/*padding: 0 12px;*/
}
.navbar-center .dropdown-menu .divider{
	margin: 0 12px;
}
.navbar-right-seperate{
	right: 220px;
}
.navbar-filters > li > a{
	color: #6f5f5c!important;
	padding: 11px 15px;
}
.navbar-filters > li > a:hover{
	color: #e8ac6c!important;
}
.navbar-filters > li > a .fa{
	vertical-align: middle;
}
.navbar-filters .nav-filter-text{
	vertical-align: middle;
	margin-left: 12px;
	margin-right: 20px; 
}
.content-charts .panel{
	background-color: transparent;
	border: 2px solid #c3c6cb;
	border-radius: 0;
	margin-top: -2px;
	margin-right: -2px;
	margin: -2px -2px 0 0; 
}
.content-charts .row > [class*="col-"]{
	padding: 0;
}
.interactive-chart-info{
	color: #fff;
	list-style: none;
	line-height: 2em;
	font-size: 12px;
	padding-left: 10px;
}
.interactive-chart-info li .dt{
	display: inline-block;
	float: left;
	width: 4em;
	height: 2em;
	margin-right: 15px;
	text-align: justify;
	text-justify: distribute-all-lines;
	text-align-last: justify;
	-moz-text-align-last: justify;
	-webkit-text-align-last: justify;
}
.interactive-chart-info li .dd{
	float: left;
}
.interactive-chart-info li .dt:after {
	content: ".";
	display: inline-block;
	width: 100%;
	overflow: hidden;
	height: 0;
	line-height: 0;
}
.interactive-chart-legend{
	margin-left: 10px;
	margin-top: 65px;
}
@media(max-width: 1120px){
.navbar-center{
	margin-left: 2%;
}
}
@media(max-width: 1045px){
.sidebar {
	display: none;
	z-index: 1030;
}

.navbar-right-seperate {
	right: 0;
}
.navbar-toggle{
	display: block;
}
/*.page-header-fixed {
	padding-top: 54px;
}*/
}